.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2100;
	background-color: $color-white;
	padding: 20px 0 40px;
	&__body {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		transition: $duration-normal;
	}
	&__logo-image {
		width: 80px;
		height: 80px;
	}

	&__menu {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 98;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		overflow: hidden;
		overflow-y: auto;
		margin: 0;
		padding: 60px 25px 0;
		width: 100vw;
		height: 100vh;
		color: $color-black;
		background-color: #fff;
		opacity: 0;
		visibility: hidden;
		transform: translateX(100%);
		transition: $duration-normal;
		-webkit-overflow-scrolling: touch;

		@include active {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}
	&__menu-image {
		width: 260px;
		height: 180px;
	}
	&__list {
		width: 100%;
		text-align: center;
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: left;
		margin: 0 auto;
		padding: 20px 15px;
		font-weight: 700;
		font-size: 16px;
		line-height: 25px;
		text-align: left;
		color: rgba($color-black, 0.7);
		background-color: $color-white;

		&:not(:last-child) {
			// border-bottom: 1px solid $color-gray;
		}

		&:first-child {
			// border-top: 1px solid $color-gray;
		}

		@include hover {
			color: $color-black;
		}

		@include active {
			color: $color-black;
		}
	}

	&__burger {
		z-index: 100;
		flex-direction: column;
		justify-content: space-between;
		margin-left: auto;
		margin-top: 20px;
		width: 26px;
		height: 18px;
		color: $color-black;

		span {
			display: block;
			// margin: 6.5px 0;
			width: 100%;
			height: 2px;
			background-color: currentColor;
			transition: $duration-normal;
		}

		@include active {
			.header__menu-image {
				display: block;
			}
			span {
				&:first-child {
					transform: translate(0, 8px) rotate(-45deg);
				}
				&:nth-child(2) {
					display: none;
				}

				&:last-child {
					transform: translate(0, -8px) rotate(45deg);
				}
			}
		}
	}
}

@include desktop {
	.header__menu-image {
		display: none;
	}
	& .header {
		padding-top: 100px;
	}

	& .header__burger {
		display: none;
	}
	& .is-hidden.header__menu,
	& .header__menu {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		position: static;
		width: auto;
		height: auto;
		flex-direction: row;
		margin: 0;
		padding: 0;
		background: transparent;
	}
	& .header__list {
		display: flex;
		& > *:not(:last-child) {
			margin-right: 32px;
		}
	}
	& .header__link {
		padding: 0;
		min-height: auto;
		&:not(:last-child) {
			border-bottom: none;
		}

		&:first-child {
			border-top: none;
		}
	}
}
.is-device-mobile {
}
